src/conf/xml-resources/web-service-references/WSCustomer/wsdl/localhost_8080/Threadther/WSCustomer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="WSCustomer">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/Threadther/WSCustomer?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getAllScheduleByMovieId">
<part name="parameters" element="tns:getAllScheduleByMovieId"/>
</message>
<message name="getAllScheduleByMovieIdResponse">
<part name="parameters" element="tns:getAllScheduleByMovieIdResponse"/>
</message>
<message name="getComingSoonMovies">
<part name="parameters" element="tns:getComingSoonMovies"/>
</message>
<message name="getComingSoonMoviesResponse">
<part name="parameters" element="tns:getComingSoonMoviesResponse"/>
</message>
<message name="topUp">
<part name="parameters" element="tns:topUp"/>
</message>
<message name="topUpResponse">
<part name="parameters" element="tns:topUpResponse"/>
</message>
<message name="getMovieById">
<part name="parameters" element="tns:getMovieById"/>
</message>
<message name="getMovieByIdResponse">
<part name="parameters" element="tns:getMovieByIdResponse"/>
</message>
<message name="insertAsCustomer">
<part name="parameters" element="tns:insertAsCustomer"/>
</message>
<message name="insertAsCustomerResponse">
<part name="parameters" element="tns:insertAsCustomerResponse"/>
</message>
<message name="getShowingMovies">
<part name="parameters" element="tns:getShowingMovies"/>
</message>
<message name="getShowingMoviesResponse">
<part name="parameters" element="tns:getShowingMoviesResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<message name="getUserByEmail">
<part name="parameters" element="tns:getUserByEmail"/>
</message>
<message name="getUserByEmailResponse">
<part name="parameters" element="tns:getUserByEmailResponse"/>
</message>
<message name="getStudioByStudioNumber">
<part name="parameters" element="tns:getStudioByStudioNumber"/>
</message>
<message name="getStudioByStudioNumberResponse">
<part name="parameters" element="tns:getStudioByStudioNumberResponse"/>
</message>
<message name="getSeatByStudioNumber">
<part name="parameters" element="tns:getSeatByStudioNumber"/>
</message>
<message name="getSeatByStudioNumberResponse">
<part name="parameters" element="tns:getSeatByStudioNumberResponse"/>
</message>
<portType name="WSCustomer">
<operation name="register">
<input wsam:Action="http://WS/WSCustomer/registerRequest" message="tns:register"/>
<output wsam:Action="http://WS/WSCustomer/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://WS/WSCustomer/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://WS/WSCustomer/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://WS/WSCustomer/loginRequest" message="tns:login"/>
<output wsam:Action="http://WS/WSCustomer/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getAllScheduleByMovieId">
<input wsam:Action="http://WS/WSCustomer/getAllScheduleByMovieIdRequest" message="tns:getAllScheduleByMovieId"/>
<output wsam:Action="http://WS/WSCustomer/getAllScheduleByMovieIdResponse" message="tns:getAllScheduleByMovieIdResponse"/>
</operation>
<operation name="getComingSoonMovies">
<input wsam:Action="http://WS/WSCustomer/getComingSoonMoviesRequest" message="tns:getComingSoonMovies"/>
<output wsam:Action="http://WS/WSCustomer/getComingSoonMoviesResponse" message="tns:getComingSoonMoviesResponse"/>
</operation>
<operation name="topUp">
<input wsam:Action="http://WS/WSCustomer/topUpRequest" message="tns:topUp"/>
<output wsam:Action="http://WS/WSCustomer/topUpResponse" message="tns:topUpResponse"/>
</operation>
<operation name="getMovieById">
<input wsam:Action="http://WS/WSCustomer/getMovieByIdRequest" message="tns:getMovieById"/>
<output wsam:Action="http://WS/WSCustomer/getMovieByIdResponse" message="tns:getMovieByIdResponse"/>
</operation>
<operation name="insertAsCustomer">
<input wsam:Action="http://WS/WSCustomer/insertAsCustomerRequest" message="tns:insertAsCustomer"/>
<output wsam:Action="http://WS/WSCustomer/insertAsCustomerResponse" message="tns:insertAsCustomerResponse"/>
</operation>
<operation name="getShowingMovies">
<input wsam:Action="http://WS/WSCustomer/getShowingMoviesRequest" message="tns:getShowingMovies"/>
<output wsam:Action="http://WS/WSCustomer/getShowingMoviesResponse" message="tns:getShowingMoviesResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://WS/WSCustomer/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://WS/WSCustomer/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
<operation name="getUserByEmail">
<input wsam:Action="http://WS/WSCustomer/getUserByEmailRequest" message="tns:getUserByEmail"/>
<output wsam:Action="http://WS/WSCustomer/getUserByEmailResponse" message="tns:getUserByEmailResponse"/>
</operation>
<operation name="getStudioByStudioNumber">
<input wsam:Action="http://WS/WSCustomer/getStudioByStudioNumberRequest" message="tns:getStudioByStudioNumber"/>
<output wsam:Action="http://WS/WSCustomer/getStudioByStudioNumberResponse" message="tns:getStudioByStudioNumberResponse"/>
</operation>
<operation name="getSeatByStudioNumber">
<input wsam:Action="http://WS/WSCustomer/getSeatByStudioNumberRequest" message="tns:getSeatByStudioNumber"/>
<output wsam:Action="http://WS/WSCustomer/getSeatByStudioNumberResponse" message="tns:getSeatByStudioNumberResponse"/>
</operation>
</portType>
<binding name="WSCustomerPortBinding" type="tns:WSCustomer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllScheduleByMovieId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComingSoonMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="topUp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovieById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertAsCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getShowingMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudioByStudioNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSeatByStudioNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCustomer">
<port name="WSCustomerPort" binding="tns:WSCustomerPortBinding">
<soap:address location="http://localhost:8080/Threadther/WSCustomer"/>
</port>
</service>
</definitions>